Package: sixarm-debian-javascript-packages
Version: 1.0.1
Section: devel
Priority: optional
Architecture: all
Depends:  curl, libssl-dev, libv8-dev, npm, openssl
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Javascript stack of pacakges we like to use
 Javascript packages we like to use together.

